@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:root{
  --color-main: #64AD99;
  --color-secondary: #3693B5;
  --color-secondary2: #FEB01A;
  --color-button: #E95E33;
  --color-black: #000000;
  --color-white: #ffffff;

  --titel-size: 20px;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: var(--color-secondary);
}

.nav_brand a{
  font-size: 25px;
  font-weight: 600;
  color: var(--color-white);
}

.nav_options_list{
  display: flex;
}

.nav_options_list li{
  padding-left: 40px;
  list-style: none;
}

.nav_options_list a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 18px;
  font-weight: bold;
}

.nav_options_list a:hover{
  border-bottom: 2px solid var(--color-white);
}

.intro{
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  background-color: var(--color-main);
}

.intro .intro_img img{
  width: 400px;
}

.intro_content{
  width: 50%;
  padding: 0 50px;
  /*background-color: var(--color-main);*/
}

.intro_content .title{
  margin: 0px;
  font-size: 60px;
  font-weight: bold;
  color: var(--color-black);
}

.intro_content .subtitle{
  margin: 0px;
  padding-bottom: 50px;
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: var(--color-black);
}

.intro_content p{
  color: var(--color-black);
  font-size: 20px;
}

.button{
  position: relative;
  top: 20px;
  padding: 15px 40px;
  border-radius: 10px;
  border: 3px solid #2b453e;
  font-size: 20px;
  color: var(--color-black);

  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.2s;
}

.button:hover{
  color: white;
  background-color: #2b453e;
}









.product{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 100px 0;
  justify-content: center;
}

.content_box{
  text-align: center;
}

.product .box_image img{
  width: 120px;
  height: 120px;
  padding: 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  border-radius: 50%;
}

footer{
  display: flex;
  height: 60px;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: 18px;
}

.about{
  display: grid;
  grid-template-columns: 1fr, 4fr;
  justify-content: center;
  align-items: center;
}

.about_image{
  grid-column: 1;
  margin: 30px;
  border-radius: 50%;
  background-color: var(--color-main);
}

.about_image img{
  width: 400px;
}

.about_content{
  grid-column: 2;
  padding: 20px 50px;
  font-size: 18px;
  line-height: 30px;
}

.chapter{
  display: flex;
  justify-content: space-around;
  border: 1px solid red
}

.chapter_img{
  margin: auto;
}

.chapter_image img{
  width: 300px;
}




