@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
/* Media Queries Mixin
**********************/
body {
  /*height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  color: #02578c;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: #02578c;
}

#menu_on {
  display: none;
}
@media only screen and (max-width: 768px) {
  #menu_on {
    display: inline-block;
    width: 25px;
    height: 20px;
    position: relative;
    left: 10px;
    z-index: 1000;
  }
  #menu_on span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background-color: #080404;
    transition: all 0.25s ease;
    transform-origin: 0px 100%;
  }
  #menu_on span:nth-child(2) {
    width: calc(80% - 1px);
    top: calc(50% - 2px);
  }
  #menu_on span:nth-child(3) {
    bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  #menu_on:hover span {
    width: 80%;
    transition: all 0.25s ease;
    transform-origin: 0px 100%;
  }
  #menu_on:hover span:nth-child(2) {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .visible_menu span {
    background-color: white;
  }
  .visible_menu span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, 2px);
    background: #a51a75;
  }
  .visible_menu span:nth-child(2) {
    opacity: 0;
  }
  .visible_menu span:nth-child(3) {
    transform: rotate(-45deg) translate(-1.5px, 2px);
    background: #a51a75;
  }
  .visible_menu .nav__options {
    left: 0;
  }
}

.visible_menu:hover #menu_on:hover span {
  width: 100%;
}
.visible_menu:hover #menu_on:hover span:nth-child(2) {
  width: calc(80% - 1px);
}

header {
  width: 100%;
  padding: 5px;
  background-color: rgba(41, 165, 165, 0.8);
  top: 0;
  box-sizing: border-box;
  z-index: 2;
}

.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .header__content {
    height: 70px;
    justify-content: flex-start;
  }
}

.header__brand a {
  margin-left: 30px;
  font-size: 25px;
  font-weight: 700;
  color: #a51a75;
}
@media only screen and (max-width: 768px) {
  .header__brand a {
    margin-left: 25px;
    z-index: 2;
  }
}

.nav__options {
  align-items: center;
  padding: 5px 30px;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .nav__options {
    width: 50%;
    height: 100vh;
    position: fixed;
    left: -1000px;
    right: 0;
    top: 70px;
    z-index: 1;
    background: #02578c;
    transition: all 0.75s ease;
    overflow-y: auto;
    text-align: left;
    box-sizing: border-box;
  }
}

.nav__options_list {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .nav__options_list {
    display: block;
    color: #080404;
    padding-left: 0px;
    padding-top: 10px;
  }
}
.nav__options_list li {
  padding-left: 40px;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .nav__options_list li {
    margin-left: -15px;
    padding-bottom: 20px;
  }
}
.nav__options_list li:last-child img {
  width: 30px;
  text-align: center;
}
.nav__options_list a {
  text-decoration: none;
  color: #080404;
  font-size: 16px;
  font-weight: 700;
  transition-property: border-bottom, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.nav__options_list a:hover {
  border-bottom-style: dotted;
  border-bottom-width: 5px;
  border-bottom-color: #a51a75;
  color: #a51a75;
}
.nav__options_list li:last-child a:hover {
  border: none;
}
.nav__options_list .active {
  color: #a51a75;
}
.nav__options_list .active:hover {
  border: none;
}

footer {
  display: flex;
  height: 60px;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(41, 165, 165, 0.8);
  color: #a51a75;
  font-size: 18px;
}

footer .contact a {
  text-decoration: none;
  color: #080404;
  font-size: 20px;
  font-weight: 700;
  transition-property: border-bottom, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  cursor: pointer;
}

.contact a:hover {
  color: #a51a75;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  background-color: rgba(41, 165, 165, 0.8);
}
@media only screen and (max-width: 425px) {
  .intro {
    display: grid;
    grid-template-rows: repeat 2, 1fr;
  }
}

@media only screen and (max-width: 425px) {
  .intro_img {
    grid-rows: 1;
  }
}

.intro .intro_img img {
  width: 600px;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .intro .intro_img img {
    width: 450px;
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .intro .intro_img img {
    width: 340px;
  }
}
@media only screen and (max-width: 425px) {
  .intro .intro_img img {
    width: 280px;
  }
}

.intro_content {
  width: 50%;
  padding: 0 50px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .intro_content {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 425px) {
  .intro_content {
    grid-row: 2;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

.intro_content .intro_title {
  margin: 0px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .intro_content .intro_title {
    font-size: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .intro_content .intro_title {
    font-size: 50px;
  }
}

.intro_content .intro_subtitle {
  margin: 0px;
  padding-bottom: 20px;
  position: relative;
  font-size: 50px;
  font-weight: bold;
  color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .intro_content .intro_subtitle {
    font-size: 35px;
  }
}
@media only screen and (max-width: 768px) {
  .intro_content .intro_subtitle {
    font-size: 25px;
    padding-bottom: 10px;
  }
}

.intro_content p {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .intro_content p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 425px) {
  .intro_content p {
    font-size: 16px;
  }
}

.button {
  position: relative;
  top: 20px;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #a51a75;
  transition: background-color 0.5s linear 0.2s;
}
@media only screen and (max-width: 425px) {
  .button {
    font-size: 18px;
    padding: 9px 24px;
  }
}

.button:hover {
  background-color: #f26a83;
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px 0;
  grid-column-gap: 50px;
  justify-content: center;
}
@media only screen and (max-width: 425px) {
  .product {
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 0;
  }
}

.content_box {
  margin: 0 20px;
  text-align: center;
}

.product .box_image img {
  width: 120px;
  height: 120px;
  padding: 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #02578c;
  border-radius: 50%;
}
@media only screen and (max-width: 425px) {
  .product .box_image img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }
}

.chapters {
  margin: 80px 0;
}
@media only screen and (max-width: 320px) {
  .chapters {
    margin: 0 10px;
  }
}

.chapters .title {
  margin: 40px 0 0 0;
  padding-bottom: 0px;
  font-size: 40px;
  font-weight: 700;
  color: #02578c;
  text-align: center;
}
@media only screen and (max-width: 320px) {
  .chapters .title {
    font-size: 35px;
  }
}

.chapters .subtitle {
  margin: 0 0 40px 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: #02578c;
  text-align: center;
}
@media only screen and (max-width: 320px) {
  .chapters .subtitle {
    font-size: 20px;
  }
}

.chapter {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .chapter {
    display: block;
  }
}

.chapter_image {
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .chapter_image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.chapter_image img {
  width: 320px;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .chapter_image img {
    width: 280px;
  }
}
@media only screen and (max-width: 320px) {
  .chapter_image img {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .chapter_box:not(:nth-of-type(1)) {
    margin: 50px 0;
  }
}

.chapter_box .title_chapter {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: #080404;
  text-align: center;
}
@media only screen and (max-width: 320px) {
  .chapter_box .title_chapter {
    font-size: 20px;
  }
}

.chapterline {
  max-width: 100%;
  position: relative;
  padding-top: 3rem;
}
@media only screen and (max-width: 768px) {
  .chapterline {
    width: 60%;
    left: calc(50% - 160px);
  }
}
@media only screen and (max-width: 425px) {
  .chapterline {
    width: 90%;
  }
}
@media only screen and (max-width: 375px) {
  .chapterline {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .chapterline {
    width: 100%;
    left: -5px;
  }
}

.chapterline:before {
  content: "";
  width: 4px;
  height: 90%;
  left: 2rem;
  background-color: #02578c;
  position: absolute;
  top: 0;
}

.chapterline_box {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .chapterline_box {
    margin: auto;
  }
}

.chapterline_box:not(:last-of-type) {
  margin-bottom: 30px;
}

.chapterline_box:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #02578c;
  position: absolute;
  left: 0;
  top: 35px;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .chapterline_box:before {
    width: 50%;
  }
}

.chapterline_content {
  min-width: 65px;
  position: absolute;
  left: 0;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0.5rem 0.8rem;
  text-align: center;
  background-color: #02578c;
  color: #fff;
}

.chapterline_number {
  font-size: 2rem;
  font-weight: 700;
  display: block;
}

.chapterline_part {
  display: block;
  font-size: 0.8em;
  text-transform: uppercase;
}

.chapterline_title {
  width: 240px;
  padding: 1.5rem 1rem;
  position: relative;
  left: 80px;
  border-radius: 2px;
  border-left: 3px solid #02578c;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .chapterline_title {
    width: 225px;
    padding: 1.5rem 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .chapterline_title {
    width: 240px;
  }
}
@media only screen and (max-width: 375px) {
  .chapterline_title {
    width: 60%;
  }
}

.chapterline_title a {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: font-weight 0.3s linear 0s;
}
@media only screen and (max-width: 320px) {
  .chapterline_title a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .chapterline_link {
    width: 100%;
    padding: 0;
    background-color: grey;
  }
}
@media only screen and (max-width: 375px) {
  .chapterline_link {
    width: 100%;
  }
}

.chapterline_title a:hover {
  font-weight: bold;
}

.chapterline_title a:last-child {
  margin-bottom: 0;
}

.about {
  margin: 80px 0;
  display: grid;
  grid-template-columns: 1fr, 4fr;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .about {
    display: block;
    margin: 50px 0;
  }
}

.about_image {
  grid-column: 1;
  margin: 30px;
  border-radius: 50%;
  background-color: #02578c;
}
@media only screen and (max-width: 768px) {
  .about_image {
    width: 340px;
    height: 340px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 425px) {
  .about_image {
    width: 280px;
    height: 280px;
  }
}

.about_image img {
  width: 400px;
}
@media only screen and (max-width: 768px) {
  .about_image img {
    width: 380px;
  }
}

.about_content {
  grid-column: 2;
  padding: 20px 50px;
  font-size: 18px;
  line-height: 30px;
}
@media only screen and (max-width: 425px) {
  .about_content {
    font-size: 16px;
    padding: 12px 10px;
  }
}

.about_content .title {
  padding: 40px 0 40px 0;
}

.table_list span {
  color: #02578c;
  font-size: 30px;
}