/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
:root{
  --color-1: rgba(242, 106, 131, 1); 
  --color-2: rgba(165, 26, 117, 1); 
  --color-3: rgba(2, 87, 140, 1); 
  --color-4: rgba(41, 165, 165, 0.8); 
  --color-5: rgba(255, 255, 255, 1);
  --color-6: rgba(8, 4, 4, 1);

  --Font1: 'Didact Gothic', sans-serif;
  --Font2: 'Montserrat', sans-serif;

  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font2);
}

a {
  text-decoration: none;
}

.title{
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: var(--bold);
  color: var(--color-3)
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: var(--bold);
  color: var(--color-3)
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  box-sizing: border-box;
  background-color: var(--color-4);
}

.nav_brand a{
  font-size: 25px;
  font-weight: 700;
  color: var(--color-2);
}

.nav_options_list{
  display: flex;
}

.nav_options_list li{
  padding-left: 40px;
  list-style: none;
}

.nav_options_list a {
  text-decoration: none;
  color: var(--color-6);
  font-size: 20px;
  font-weight: var(--bold);
  transition-property: border-bottom, color; 
  transition-duration: 0.3s;
  transition-timing-function: linear; 
  transition-delay: 0s;
}

.nav_options_list a:hover{
  border-bottom-style: dotted;
  border-bottom-width: 5px;
  border-bottom-color: var(--color-2);
  color: var(--color-2);
}

.intro{
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  background-color: var(--color-4);
}

.intro .intro_img img{
  width: 600px;
}

.intro_content{
  width: 50%;
  padding: 0 50px;
}

.intro_content .title{
  margin: 0px;
  font-size: 100px;
  font-weight: bold;
  color: var(--color-5);
}

.intro_content .subtitle{
  margin: 0px;
  padding-bottom: 20px;
  position: relative;
  font-size: 50px;
  font-weight: bold;
  color: var(--color-5);
}

.intro_content p{
  color: var(--color-5);
  font-size: 20px;
  font-weight: var(--semi-bold);
}

.button{
  position: relative;
  top: 20px;
  padding: 15px 40px;
  border-radius: 10px;
  border: 2px solid var(--color-2);
  font-size: 20px;
  font-weight: var(--medium);
  color: var(--color-5);
  background-color: var(--color-2);
  transition: background-color 0.5s linear 0.2s;
}

.button:hover{
  background-color: var(--color-1);
  border: 2px solid var(--color-2);
}

.product{
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 100px 0;
  justify-content: center;
}

.content_box{
  text-align: center;
}

.product .box_image img{
  width: 120px;
  height: 120px;
  padding: 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: var(--color-3);
  border-radius: 50%;
}

footer{
  display: flex;
  height: 60px;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--color-4);
  color: var(--color-2);
  font-size: 18px;
}

 footer .contact a {
    text-decoration: none;
    color: var(--color-6);
    font-size: 20px;
    font-weight: var(--bold);
    transition-property: border-bottom, color; 
    transition-duration: 0.3s;
    transition-timing-function: linear; 
    transition-delay: 0s;
    cursor: pointer;
  }
  
  .contact a:hover{
    color: var(--color-2);
  }


.about{
  display: grid;
  grid-template-columns: 1fr, 4fr;
  justify-content: center;
  align-items: center;
}

.about_image{
  grid-column: 1;
  margin: 30px;
  border-radius: 50%;
  background-color: var(--color-3);
}

.about_image img{
  width: 400px;
}

.about_content{
  grid-column: 2;
  padding: 20px 50px;
  font-size: 18px;
  line-height: 30px;
}

.about_content .title{
  padding: 40px 0 40px 0;
}

.table_list span{
  color: var(--color-3);
  font-size: 30px;
}




/*.chapters .title{
  margin: 40px 0 0 0;
  padding-bottom: 0px;
  font-size: 40px;
  font-weight: var(--bold);
  color: var(--color-3);
  text-align: center;
}

.chapters .subtitle {
  margin: 0 0 40px 0;
  padding: 0;
  font-size: 25px;
  font-weight: var(--bold);
  color: var(--color-3);
  text-align: center;
}

.chapter{
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-around;
  border: 1px solid red;
  
}

.chapter_img{
  margin: auto;
}

.chapter_image img{
  width: 300px;
}*/