
  .chapterline_title a{
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    text-decoration: none;
    color: black;
  }
  
  .chapterline_title a:last-child{
    margin-bottom: 0;
  }
  
  .chapterline{
    max-width: 800px;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    border: 1px solid red
  }
  
  .chapterline:before{
    content: "";
    width: 4px;
    height: 100%;
    background-color:  rgba(2, 87, 140, 1);
    position: absolute;
    top: 0;
  }
  
  .chapterline_box{
    position: relative;
  }
  
  .chapterline_box:not(:last-of-type){
    margin-bottom: 30px;
  }
  
  .chapterline_box:before{
    content: "";
    width: 100%;
    height: 2px;
    background-color:  rgba(2, 87, 140, 1);
  
    position: absolute;
    left: 0;
    z-index: -1;
  }
  
  .chapterline_content{
    min-width: 65px;
    position: absolute;
    left: 0;
  
    box-sizing: border-box;
    padding: .5rem 1.5rem;
    text-align: center;
  
    background-color:  rgba(2, 87, 140, 1);
    color: #fff;
  }
  
  .chapterline_number{
    font-size: 2rem;
    font-weight: 700;
    display: block;
  }
  
  .chapterline_part{
    display: block;
    font-size: .8em;
    text-transform: uppercase;
  }
  
  .chapterline_title{
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border-left: 3px solid  rgba(2, 87, 140, 1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    background-color: #fff;
  }