header
	nav
		.nav_brand
			a(href="index.html") Izeland
		.nav_options
			ul.nav_options_list
				li
					a(href=links[0])=titles[0]
				li
					a(href=links[1])=titles[1]
				li
					a(href=links[2])=titles[2]
				li
					a(href=links[3])=titles[3]
