body{
    margin: 0;
    padding: 0;
    font-family: $Font1;
}
  
a {
  text-decoration: none;
}

li {
    list-style: none;
}
  
.title{
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: $bold;
  color: $color-3;

  @include media (mobile-m){
    font-size: 30px;
  }
}
  
.subtitle {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: $bold;
  color: $color-3;
}