extend template.pug
block content
		main.about
			.about_image 
				img(src="img/math.png")
			.about_content
				p.title Projecte Izeland
				p 
					| En Mat Maths és un personatge de ficció a qui acompanyem en tot d’aventures a l’illa on viu, Izeland, i amb el qual aprenem matemàtiques. I és que gràcies a les matemàtiques aconseguim resoldre els misteris que se li presenten.
				p 
					|Les aventures apareixen en fitxes descarregables i imprimibles en B/N a doble cara amb aspecte de llibre de lectura que, a banda de la història, contenen quadres de definició i exercicis per a treballar els continguts matemàtics.
				p
					| Mat Maths comprendrà els quatre cursos de secundària. Cada curs contindrà de nou a dotze unitats didàctiques i cada unitat, tres fitxes. Vist des del punt de vista de ficció, però, parlem de temporades en lloc de cursos, de capítols en lloc d'unitats didàctiques, i d'actes en lloc de fitxes.
				p
					| Mat Maths és motivador i rigorós. Motivador, ja que s'emmarca en la tradició de transmetre coneixement a partir d’històries, i rigorós, ja que els continguts són acurats i curriculars.
				p
					| Mat Maths és útil en moltes situacions diverses:
					ul
						li Com a material de suport en una classe ordinària.
						li Com a material principal en grups difícils o en aules d’acollida.
						li Per a cobrir una lliçó amb un/a professor/a de guàrdia en absència del/a titular.
						li Per al treball autònom dels alumnes a casa.
						li En classes interdisciplinars de matemàtiques i llengua.
						li Com a material de treball d’estiu.
				p 
					|Mat Maths ha estat ideat per en Xavi Juez i compta amb les il·lustracions de l'Arnau Solà Vila.
				p 
					| Agrairem que envïin a izeland.com@gmail.com qualsevol tipus de comentari.