include globals.pug		
doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/animations.css")
	body
		include header.pug
		block content
		include footer.pug
    
  
  
    
