.chapters{
    margin: 80px 0;

    @include media(mobile-s){
      margin: 0 10px;
    }
  }
  
  .chapters .title{
    margin: 40px 0 0 0;
    padding-bottom: 0px;
    font-size: 40px;
    font-weight: $bold;
    color: $color-3;
    text-align: center;

    @include media(mobile-s){
    font-size: 35px;;
    }
  }
  
  .chapters .subtitle {
    margin: 0 0 40px 0;
    padding: 0;
    font-size: 25px;
    font-weight: $bold;
    color: $color-3;
    text-align: center;

    @include media(mobile-s){
      font-size: 20px;;
    }
  }
  
  .chapter{
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;

    @include media(mobile-only){
      display: block;
    }
  }

  .chapter_image{
    margin: 0 auto;

    @include media(mobile-only){
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  
  .chapter_image img{
    width: 320px;

    @include media(desktop-s-only){
      width: 280px;
    }

    @include media(mobile-s){
      width: 95%;
    }
  }

  .chapter_box:not(:nth-of-type(1)) {
    @include media(mobile-only){
      margin: 50px 0;
    }
  }
  
  .chapter_box .title_chapter{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: $bold;
    color: $color-6;
    text-align: center;

    @include media(mobile-s){
      font-size: 20px;
    }
  }
  
  .chapterline{
    max-width: 100%;
    position: relative;
    padding-top: 3rem;

    @include media(mobile-only){
      width: 60%;
      left: calc(50% - 160px);
    }

    @include media(mobile-l){
      width: 90%;
    }

    @include media(mobile-m){
      width: 100%;
    }

    @include media(mobile-s){
      width: 100%;
      left: -5px;
    }
  }
  
  .chapterline:before{
    content: "";
    width: 4px;
    height: 90%;
    left: 2rem;
    background-color:  rgba(2, 87, 140, 1);
    position: absolute;
    top: 0;
  }
  
  .chapterline_box{
    position: relative;

    @include media(mobile-only){
      margin: auto;
    }    
  }
  
  .chapterline_box:not(:last-of-type){
    margin-bottom: 30px;
  }
  
  .chapterline_box:before{
    content: "";
    width: 100%;
    height: 2px;
    background-color:  rgba(2, 87, 140, 1);
    position: absolute;
    left: 0;
    top: 35px;
    z-index: -1;

    @include media(mobile-only){
      width: 50%;
    }
  }
  
  .chapterline_content{
    min-width: 65px;
    position: absolute;
    left: 0;
    border-radius: 2px;
    box-sizing: border-box;
    padding: .5rem 0.8rem;
    text-align: center;
  
    background-color:  rgba(2, 87, 140, 1);
    color: #fff;
  }
  
  .chapterline_number{
    font-size: 2rem;
    font-weight: 700;
    display: block;
  }
  
  .chapterline_part{
    display: block;
    font-size: .8em;
    text-transform: uppercase;
  }
  
  .chapterline_title{
    width: 240px;
    padding: 1.5rem 1rem;
    position: relative;
    left: 80px;
    border-radius: 2px;
    border-left: 3px solid  rgba(2, 87, 140, 1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    background-color: #fff;

    @include media(desktop-s-only){
      width: 225px;
      padding: 1.5rem 1rem;
    }

    @include media(mobile-only){
      width: 240px;
    }

    @include media(mobile-m){
      width: 60%;
    }
  }

  .chapterline_title a{
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    font-size: 18px;
    font-weight: $medium;
    text-decoration: none;
    color: black;
    transition: font-weight 0.3s linear 0s;

    @include media(mobile-s){
      font-size: 16px;
    }
  }

  .chapterline_link {
    @include media(mobile-only){
      width: 100%;
      padding: 0;
      background-color: grey;
    }

    @include media(mobile-m){
      width: 100%;
    }
  }
  
  .chapterline_title a:hover{
    font-weight: bold;
  }
  
  .chapterline_title a:last-child{
    margin-bottom: 0;
  }