footer{
    display: flex;
    height: 60px;
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: $color-4;
    color: $color-2;
    font-size: 18px;
  }
  
   footer .contact a {
      text-decoration: none;
      color: $color-6;
      font-size: 20px;
      font-weight: $bold;
      @include linkHover(color);
      cursor: pointer;
    }
  
  .contact a:hover{
    color: $color-2;
  }